#product {
	margin-bottom: 100px;

	.product__title {
		font-size: 50px;
		text-align: center;
		margin-bottom: 50px;
		text-transform: uppercase;
		position: relative;

		&::before {
			content: "products";
			position: absolute;
			top: -14px;
			left: 50%;
			transform: translateX(-45%);
			color: transparent;
			-webkit-text-stroke: 1.5px rgba(0, 0, 0, 0.5);
		}
	}
}
